.wrapper{
   margin-top: 100px;
}
.cursor-pointer {
      cursor: pointer;
    }

.title{
    font-size: 2rem;
    font-weight: 700;
}
.author{
    font-weight: 700;
    font-size: 1.8rem;
}
.text-content{
    font-size: 1.7rem;
    word-wrap: break-word; /* Ngắt dòng khi cần */
  word-break: break-word; /* Hỗ trợ các từ dài */
  overflow-wrap: break-word; /* Thêm tùy chọn cho các trình duyệt khác */
}
.fix_content{
    // margin-top: 10px;
    font-size: 1.6rem;
    
}
.btn-text{
    font-size: 1.4rem;
    display: flex;
    align-items: start;
}

.comment{
    border: 1px solid #111;
    // padding-right: 8rem;
    width: 100%;
    font-size: 1.8rem;
    resize: none;//chan keo len xuong cua textarea
    

    
    &:focus{
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.3) !important; 
        border-color: #6c757d;
  }
}
.new-comment{
    font-size: 1.6rem;

    &:hover{
        color: #6c757d;
        background-color: transparent;
    }
}

.quill p {
    font-size: 1.8rem;
}
.quill ::placeholder{
    font-size: 1.8rem;
}
.ql-editor::before {
    font-size: 18px !important;  /* Tăng kích thước */
    color: gray !important;      /* Màu chữ */
    font-style: normal !important; /* Chữ thẳng */
    opacity: 1 !important;       /* Đảm bảo placeholder hiển thị rõ */
}



  
