.btn-cate{
    padding: 5px 15px;
    border-radius:10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;

    &:hover{
        background-color: rgba(218,220,222,1) !important;
    }
}
@media(max-width:767px){
    .btn-cate{
        font-size: 1.5rem;
    }
}