.btn-cate{
    padding: 5px 15px;
    border-radius:10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;

    &:hover{
        background-color: hsla(0,0%,86%,.4);
        opacity: 2;
    }
}
@media(max-width:767px){
    .btn-cate{
        font-size: 1.5rem;
    }
}